apiVersion: apps/v1
kind: Deployment
metadata:
  name: forge-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: forge-postgres
  template:
    metadata:
      labels:
        app: forge-postgres
    spec:
      containers:
        - name: postgres
          image: "{{ .Values.postgres.image }}"
          env:
            - name: POSTGRES_USER
              value: "{{ .Values.postgres.username }}"
            - name: POSTGRES_PASSWORD
              value: "{{ .Values.postgres.password }}"
            - name: POSTGRES_DB
              value: "{{ .Values.postgres.database }}"
          ports:
            - containerPort: 5432
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: pgdata
      volumes:
        - name: pgdata
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: forge-postgres
spec:
  type: ClusterIP
  selector:
    app: forge-postgres
  ports:
    - port: 5432
      targetPort: 5432
