apiVersion: apps/v1
kind: Deployment
metadata:
  name: forge-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: forge-redis
  template:
    metadata:
      labels:
        app: forge-redis
    spec:
      containers:
        - name: redis
          image: "{{ .Values.redis.image }}"
          ports:
            - containerPort: 6379
          volumeMounts:
            - name: redis-data
              mountPath: /data
      volumes:
        - name: redis-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: forge-redis
spec:
  type: ClusterIP
  selector:
    app: forge-redis
  ports:
    - port: 6379
      targetPort: 6379
